body{
background: url(../Images/Background.jpg) no-repeat center center fixed; 
background-size: cover;
}

#title{
	font-size:20px;
	color:antiquewhite;
	text-align:center;
	font-family:sans-serif;
	margin-bottom:20px;
	margin-top:10px;
}

#gameContainer{
	left:50%;
	transform:translateX(-50%);
}

#email-outter{
	font-size:12px;
	color:antiquewhite;
	text-align:center;
	font-family:sans-serif;
	margin-bottom:20px;
	margin-top:10px;
}

#email-inner{
	color:#00cc7a;
}